<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>
<body>
    <main id="root">
        <section class="sidebar">
            <!-- User -->
            <div class="id">
                <div class="d-flex-center">
                    <img :src=`img/avatar${user.avatar}.jpg` alt="">
                    <span><strong>{{user.name}}</strong></span>
                </div>
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- Notification -->
            <div class="notification d-flex-center">
                <span class="fa-stack">
                    <i class="fa-solid fa-circle fa-stack-2x"></i>
                    <i class="fa-solid fa-bell-slash fa-stack-1x fa-invers"></i>
                  </span>
                  <div class="pl-10">
                      <span><strong>Ricevi notifiche di nuovi messaggi</strong></span>
                      <p class="link">Attiva notifiche desktop</p>
                  </div>
            </div>
            <!-- Searchbar -->
            <div class="searchbar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input v-model.trim="filter" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- Contacts -->
            <div class="contacts">
                <div v-for="contact in filterName" class="contact" @click="currentChat(contact)">
                    <img :src=`img/avatar${contact.avatar}.jpg` alt="">
                    <p>{{contact.name}}</p>
                </div>
            </div>
        </section>
        <section class="chats">
            <!--Header Chat -->
            <header class="chat">
                <div class="d-flex-center">
                    <img :src=`img/avatar${currentContact.avatar}.jpg` alt="">
                    <div>
                        <p>{{currentContact.name}}</p>
                        <p>Ultimo accesso alle</p>
                    </div>
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <!-- Main chat -->
            <div class="main-chat">
                <div v-for="message in currentContact.messages" class="message" :class="message.status==='sent'?'right': 'left'">
                    <p :class="message.status">{{message.message}}<span class="date">{{message.date}}</span></p>
                </div>
            </div>
            <!-- Text area -->
            <div class="text">
                <i class="fa-regular fa-face-smile"></i>
                <input v-model.trim="newMessage" type="text" name="" id="" placeholder="Scirvi un messaggio" @keyup.enter="newMsg()">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </section>
    </main>
    <script src="script.js"></script>
</body>
</html>