*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Generics */
body{
    height: 100vh;
    background-image: linear-gradient(#009688 10%,#DCDBD3 0%);
    overflow: hidden;
}
main{
    height: 97vh;
    width: 80%;
    /* border: 2px solid black; */
    display: flex;
    margin: 15px auto;
}
img{
    max-width: 100%;
    border-radius: 50%;
    height: 50px;
    padding: 5px;
    display: block;
}
.sidebar{
    height: 100%;
    width: 40%;
    background-color: #FFF;
    border-right: 2px solid black;
}
/* User */
.id{
    /* height: 5%; */
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.id  .fa-solid{
    color: #B1B1B1;
    padding: 10px;
}
/* Notification */
.notification{
    background-color: #8EDAFC;
    padding: 10px;
}
.fa-stack .fa-circle{
    color:#F2FBFF;
}
.fa-stack .fa-bell-slash{
    color: #8EDAFC;
}
/* Searchbar */
.searchbar{
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.searchbar .fa-solid{
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
}
.searchbar input{
    border: 0;
    width: 100%;
}
/* Contacts */
.contacts{
    max-height: 785px;
    background-color:#FAFAFA;
    overflow: auto;
}
.contact{
    border-bottom: 1px solid rgb(193, 191, 191);
    display: flex;
    cursor: pointer;
}
/* Chats */
.chats{
    width: 60%;
    height: 100%;
}
.chat{
    background-color: #EAEAEA;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.chat .fa-solid{
    color: #B1B1B1;
    padding: 10px;
}
/* Main chat */
.main-chat{
    height: calc(100% - 100px);
    background-image: url(img/mine.jpg);
    overflow: auto;
}
.message{
    display: flex;
}

.main-chat div{
    padding: 10px;
}
.main-chat p{
    padding: 5px 5px 15px;
    border-radius: 5px;
    max-width: 50%;
    position: relative;
}
.sent{
    background-color:#D5F9BA;
}
.received{
    background-color:#fff ;
}
.date{
    position: absolute;
    bottom:0px;
    right:5px;
    font-size: 10px;
    color: gray;
    
}
.text{
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.text input{
    width: 100%;
    margin: 0 10px;
    border: 0;
    border-radius: 9px;
    min-height: 25px;
}
/* Utilitis */
.d-flex-center{
    display: flex;
    align-items: center;
}
.link{
    text-decoration: underline;
    opacity: 0.5;
    cursor: pointer;
}
.pl-10{
    padding-left: 10px;
}
i{
    cursor: pointer;
}
.left{
    justify-content: start;
}
.right{
    justify-content: end;
}